<div class="over-element">
    <div class="row justify-content-center text-center">
        <div class="col col-3 bg-white rounded-start shadow-lg">
            <i class="bi bi-hdd-network-fill icon text-primary"></i>
            <h3>Back-end</h3>
            <p>
                bla bla bla bla, texto para rellenar espacios en la practica.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQLServer
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Uno</li>
                <li>Dos</li>
                <li>Tres</li>
                <li>Cuatro</li>
                <li>Cinco</li>
                <li>Seis</li>
                <li>Siete</li>
            </ul>
        </div>

        <div class="col col-3 bg-white rounded-end shadow-lg">
            <i class="bi bi-code-slash icon text-primary"></i>
            <h3>Front-end:</h3>
            <p>
                bla bla bla bla, texto para rellenar espacios en la practica.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                JavaScript
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Uno</li>
                <li>Dos</li>
                <li>Tres</li>
                <li>Cuatro</li>
                <li>Cinco</li>
                <li>Seis</li>
                <li>Siete</li>
            </ul>
        </div>
    </div>
</div>
