
@{
    ViewData["Title"] = "Gracias";
}


<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te contestare el mensaje lo mas antes posible.</p>
<div>
    <a asp-controller="Home" asp-action="Home">Volver al inicio</a>
</div>